<div ng-app="notesApp" ng-controller="MainCtrl">

  <div class="col-xs-12">
    <!-- Form Name -->
    <legend>User profile form requirement</legend>
    <div class="row">
      <form class="form-horizontal">
        <div class="col-md-6 col-xs-12">
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Code client</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="codeClient" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Nom / prenom</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="nomPrenom" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Téléphone</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="telephone" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Email</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="email" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Code TVA</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="codeTVA" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Responsable</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="responsable" disabled>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xs-12">
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Point fidélité</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="pointsFidelite" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Adresse</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="adresse" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Code Postal</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="codePostal" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Fax</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="fax" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Plafond</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="plafond" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-5 control-label" for="">Remise</label>
            <div class="col-md-7">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="ID Client" name="Code client" type="text" placeholder="" class="form-control input-md"
                  ng-model="remise" disabled>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-xs-12">

      <table id="dtBasicExample" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0"
        width="100%">
        <thead>
          <tr>
            <th class="th-sm">Marque

            </th>
            <th class="th-sm">Model

            </th>
            <th class="th-sm">Matricule

            </th>
            <th class="th-sm">Date de mise en sirculation

            </th>
            <th class="th-sm">Numero chassis

            </th>
            <th class="th-sm">Puissance

            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in vehiculeSets" data-toggle="collapse" data-target="#accordion"
            class="clickable">
            <td>{{value.model}}</td>
            <td>{{value.marque}}</td>
            <td>{{value.matricule}}</td>
            <td>{{value.miseEnSirculation | date:'yyyy-MM-dd'}}</td>
            <td>{{value.numChassis}}</td>
            <td>{{value.puissance}}</td>

          </tr>
          <tr>
            <td colspan="3">
              <div id="accordion" class="collapse">Hidden by default</div>
            </td>
          </tr>

        </tbody>
      </table>

      <!-- CUSTOM BOOTSTRAP ELEMENT -->
      <div class="collapse-custom">
        <!-- HEADING -->
        <nav class="navbar navbar-default navbar-heading" role="navigation">
          <div class="navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="one"><a>Marque</a></li>
              <li class="two"><a>Model</a></li>
              <li class="three"><a>Matricule</a></li>
              <li class="fore"><a>Date de mise en sirculation</a></li>
              <li class="fore"><a>Numero chassis</a></li>
              <li class="fore"><a>Puissance</a></li>
            </ul>
          </div>
        </nav>
        <!-- ROW 1 -->
        <nav class="navbar navbar-default" role="navigation" >
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-toggle="collapse"
            href="#collapseOne">
            <ul class="nav navbar-nav" ng-repeat="(key, value) in vehiculeSets">

              <li>{{value.model}}</li>
              <li>{{value.marque}}</li>
              <li>{{value.matricule}}</li>
              <li>{{value.miseEnSirculation | date:'yyyy-MM-dd'}}</li>
              <li>{{value.numChassis}}</li>
              <li>{{value.puissance}}</li>
            </ul>
          </div>
        </nav>
        <!-- HIDDING CONTANT -->
        <div id="collapseOne" class="collapse" data-parent="bs-example-navbar-collapse-1">
          <div class="panel-body">
            <!-- PICTURE-->
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-3">
                <form role="form">
                  <div class="form-group">
                    <label for="exampleInputFile">Visuel</label>
                    <input type="file" id="exampleInputFile">
                  </div>
                </form>
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" alt="...">
                </a>
              </div>
            </div>
            <!-- LISTE-->
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-3">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">50</span>
                    Valeur
                  </li>
                  <li class="list-group-item">
                    Valeur-min
                  </li>
                  <li class="list-group-item">
                    Valeur-max
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>






      </div>
    </div>



  </div>
</div>
</div>
